fastapi
uvicorn
langchain
sentence-transformers
transformers
torch
pydantic
ollama
scipy
numpy
httpx
python-dotenv
faiss-cpu 
sentence-transformers
langchain_community
sentence-transformers
PyPDF2
python-docx
python-multipart