*{
    margin: 0;
    padding: 0;
}
html{
    min-height: 100vh;
}
body{
    background-color: white;
    overflow-y: hidden;
}

.form-input{
    /* width: 80% !important; */
    outline: none;
    overflow: none;
    offset: 0px;
}
.main-2{
    height: 70px;
    background-color: rgb(241, 241, 241);
    border-bottom: 1px solid rgb(224, 224, 224);
    margin-bottom: 20px;
}
.main-heading{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-4{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    /* border: 1px solid rgb(226, 226, 226); */
    padding: 2px;
}
.main-5 {
    border-radius: 10px;
    position: relative;
    background: white;
    padding: 20px;
    z-index: 1; /* On top */
}

.main-5::before {
    content: '';
    position: absolute;
    height: 13px;
    width: 13px;
    transform: rotate(45deg);
    right: -8px;
    top: 15px;
    z-index: -1; /* Behind the element */
}

.from-user::before {
  background-color: black;
}

/* Diamond color for bot */
.from-bot::before {
  background-color: transparent;
}
.main-4 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
