*{
    margin: 0;
    padding: 0;
}
html{
    min-height: 100vh;
}
body{
    background-color: white;
    overflow-y: hidden;
}

.form-input{
    /* width: 80% !important; */
    outline: none;
    overflow: none;
    offset: 0px;
}
.main-2{
    height: 70px;
    background-color: white;
    border-bottom: 1px solid rgb(248, 248, 248);
    margin-bottom: 20px;
}
.main-heading{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 14px;
}
.main-4{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    /* border: 1px solid rgb(226, 226, 226); */
    padding: 2px;
}
.main-5 {
    border-radius: 10px;
    position: relative;
    background: white;
    padding: 20px;
    z-index: 1; /* On top */
}

.main-5::before {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    right: -4px;
    top: 20px;
    z-index: -1; /* Behind the element */
}

.from-user::before {
  background-color: #7678ee;
}

/* Diamond color for bot */
.from-bot::before {
  background-color: transparent;
}
.main-4 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.canvas-main{
    background-color: #6061c9 !important;
    color: white !important;
}
.custom-accordion .accordion-item {
  border-radius: 13px !important;
  overflow: hidden;
  margin-bottom: 10px; /* Optional: space between items */
  border: 1px solid #dee2e6; /* Optional: consistent border */
}

.custom-accordion .accordion-header {
  border-radius: 13px 13px 0 0 !important;
  overflow: hidden;
}

.custom-accordion .accordion-body {
  border-radius: 0 0 13px 13px !important;
  max-height: 235px !important;
  overflow-y: auto;

}

::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}
::-webkit-scrollbar-track {
  background: transparent; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: white; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid rgb(255, 255, 255); /* Space around the scrollbar thumb */
}
